.Home {
  width: 1280px;
  margin: 60px auto;
  padding: 60px 170px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Home-button-wrapper {
  margin-bottom: 8px;
}

.Home-button-wrapper button {
  margin-right: 8px;
}

.UserLogin-container {
  width: 1280px;
  margin: 60px auto;
  padding: 60px 170px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.UserLogin-button-wrapper {
  margin-bottom: 8px;
}

.UserLogin-button-wrapper button {
  margin-right: 8px;
}

.Item {
  display: flex;
  margin-top: 40px;
  border: 2px solid #e6e6e6;
  padding: 16px;
}

.Item-image-wrapper {
  width: 100px;
  height: 100px;
  /* background-color: #e6e6e6; */
  margin-right: 16px;
  overflow: hidden;
}

.Item-image-wrapper img {
  height: 100%;
}

.Item-inner {
  width: 792px;
}

.Item-inner > h3 {
  margin: 0;
}

.Item-inner > div {
  margin-top: 8px;
}

.Item-inner > div > a {
  margin-right: 8px;
}


.ItemRecentList-container {
  width: 1280px;
  margin: 60px auto;
  padding: 60px 170px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ItemRecentList-button-wrapper {
  margin-bottom: 8px;
}

.ItemRecentList {
  margin-bottom: 40px;
}

.ItemRecent {
  display: flex;
  margin-top: 40px;
  border: 2px solid #e6e6e6;
  padding: 16px;
}

.ItemRecent-image-wrapper {
  width: 100px;
  height: 100px;
  /* background-color: #e6e6e6; */
  margin-right: 16px;
  overflow: hidden;
}

.ItemRecent-image-wrapper img {
  height: 100%;
}

.ItemRecent-inner {
  width: 792px;
}

.ItemRecent-inner > h3 {
  margin: 0;
}

.ItemRecent-inner > div {
  margin-top: 8px;
}

.ItemRecent-inner > div > a {
  margin-right: 8px;
}


.ItemAdd-container {
  width: 1280px;
  margin: 60px auto;
  padding: 60px 170px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ItemAdd {
  width: 600px;
  margin: 60px auto;
}

.ItemAdd > h3 {
  margin: 0;
}

.ItemAdd-input-container {
  margin-top: 8px;
}

.ItemAdd-input-container > label {
  display: block;
}

.ItemAdd-input-container > input {
  width: 600px;
  height: 36px;
  box-sizing: border-box;
}

.ItemAdd-textarea-container {
  margin-top: 8px;
}

.ItemAdd-textarea-container > label {
  display: block;
}

.ItemAdd-textarea-container > textarea {
  width: 600px;
  height: 144px;
  box-sizing: border-box;
}

.ItemAdd-button-container {
  margin-top: 8px;
}

.ItemAdd-button-container > button {
  margin-right: 8px;
}


.ItemEdit-container {
  width: 1280px;
  margin: 60px auto;
  padding: 60px 170px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ItemEdit {
  width: 600px;
  margin: 60px auto;
}

.ItemEdit > p {
  margin: 8px 0 0 0;
}

.ItemEdit > h3 {
  margin: 0;
}

.ItemEdit-input-container {
  margin-top: 8px;
}

.ItemEdit-input-container > label {
  display: block;
}

.ItemEdit-input-container > input {
  width: 600px;
  height: 36px;
  box-sizing: border-box;
}

.ItemEdit-textarea-container {
  margin-top: 8px;
}

.ItemEdit-textarea-container > label {
  display: block;
}

.ItemEdit-textarea-container > textarea {
  width: 600px;
  height: 144px;
  box-sizing: border-box;
}

.ItemEdit-button-container {
  margin-top: 8px;
}

.ItemEdit-button-container > button {
  margin-right: 8px;
}


.ItemDetail-wrapper {
  width: 1280px;
  margin: 60px auto;
  padding: 60px 170px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ItemDetail > h3 {
  margin: 0 0 8px 0;
}

.ItemDetail > p {
  margin: 0 0 8px 0;
}

.ItemDetail-image-wrapper {
  width: 940px;
  height: 600px;
  /* background-color: #e6e6e6; */
  margin: 0 0 8px 0;
  overflow: hidden;
}

.ItemDetail-image-wrapper img {
  height: 100%;
}

.ItemDetail-content-wrapper {
  margin: 0 0 8px 0;
}

.ItemDetail-button-wrapper {
  margin: 0 0 8px 0;
}

.ItemDetail-button-wrapper button {
  margin-right: 8px;
}
